
/* If you want the content centered horizontally and vertically 
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
*/

.top{
  z-index:10;
  display: flex;
  align-items: center;
  justify-content:center;
  overflow-x: hidden; 
  transition: 0.5s; 
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: safe center;
  background-color: #000000;
}

.sidenav {
  background-color: transparent;
  overflow: hidden;
  width: 100%;
}

.nav {
  color: #ffffff;
  text-align: center;
  width: 120px;
  height: 30px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px
}

.navlink {
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  float: left;
  font-family: "poppins";
}

@keyframes navanimation {
  from {font-size: 14px;
    color: white;
      text-shadow: 0px 0px 0px #addcca;
}
  to {font-size: 22px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(150,150,150,.5);
}
}

/* Change the color of links on hover */
.nav:hover {
  font-size: 22px;
  animation-name: navanimation;
  animation-duration: 1s;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(150,150,150,.5);

}
.active {
  font-size: 14px;
  color: #ff0000;
}

.break{
  height: 1px;
  background-color: ghostwhite;
  width: 100%;
}

.body{
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.photo{
  height: 100vh;
  opacity: 100%;
  mix-blend-mode: lighten;

}

.photodiv{
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}

.content{
  position: relative;
  height: 700px;
  width: 100%;
  background-color: transparent;
  z-index:1;
  display: flex;
  align-items: center;
  justify-content:center;
  overflow-x: hidden; 
  transition: 0.5s; 
}


.josin{
  font-size: 140px;
  font-family: ;
  color: white;
}

.chacko{
  margin-left: 40px;
  font-size: 140px;
  font-family: ;
  color: white;

}



body {
  margin: 0;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.no-parallax {
  background-color: #111;
  z-index: 999;
}

section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.parallax h1 {
  width: 60%;
  font-size: 2rem;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background.jpg");
  background-size: cover;
}

@media screen and (min-width: 768px) {
  section h1 {
    font-size: 8rem;
  }
  .parallax h1 {
    font-size: 4rem;
  }
}

.bg1::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/bg.png");
  background-size: cover;
}
